.upper{
    font-size: large;
    text-transform: uppercase;
 }
 .middle{
     font-size:medium;
     text-transform:capitalize;
  }
  .small{
     font-size: small;
     text-transform:lowercase;
  }